<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>
        Configuration
    </div>
</div>
<div style="overflow: auto;">
    <div class="label-option-sidebar" style="padding: 15px 15px 0 15px;">
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'Title'" item-value="self.getConfigTitle"
                set-value="self.setConfigTitle" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
    </div>
 
    <div class="label-option-sidebar" style="padding: 0 15px;">
            <div style="display: flex;margin: 15px 0;">X-Axis Scale
                    <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                    </div>
                </div>
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'X Label'" item-value="self.getConfigXLabel"
                set-value="self.setConfigXLabel" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
        <div style="margin-bottom: 15px; "></div>
        <div class="selection-sidebar" style="flex: 1;">
            <span>Unit</span>
            <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.xUnitList'
                current-select="self.config.xUnit || self.defaultConfig.xUnit" on-item-changed="self.onXUnitChange">
            </wi-dropdown-list>
        </div>
        <div style="margin-bottom: 15px; "></div>
        <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Left'" item-value="self.getLeft" set-value="self.setConfigLeft" enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
                <div style="margin-right: 15px; "></div>
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Right'" item-value="self.getRight"
                        set-value="self.setConfigRight" enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
        </div>
        <div style="margin-bottom: 15px; "></div>
        <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;flex: 1;">
                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                            item-label="'Major X'" item-value="self.getMajorX"
                            set-value="self.setConfigMajorX" enabled="true" label-style="{}"
                            content-style="{flex:1,float:'none','text-align':'right'}">
                        </editable>
                    </div>
                    <div style="margin-right: 15px; "></div>
                    <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;flex: 1;">
                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                            item-label="'Minor X'" item-value="self.getMinorX"
                            set-value="self.setConfigMinorX" enabled="true" label-style="{}"
                            content-style="{flex:1,float:'none','text-align':'right'}">
                        </editable>
                    </div>
        </div>
    </div>
  
    <div class="label-option-sidebar" style="padding: 0 15px;">
        <div style="display: flex;margin: 15px 0;">Y-Axis Scale
            <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'Y Label'" item-value="self.getConfigYLabel"
                set-value="self.setConfigYLabel" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
        <div style="margin-bottom: 15px; "></div>
        <div class="selection-sidebar" style="flex: 1;">
            <span>Unit</span>
            <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.yUnitList'
                current-select="self.config.yUnit || self.defaultConfig.yUnit" on-item-changed="self.onYUnitChange">
            </wi-dropdown-list>
        </div>
        <div style="margin-bottom: 15px; "></div>
        <div style="display: flex;">
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;flex: 1;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Bottom'" item-value="self.getBottom"
                    set-value="self.setConfigBottom" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
            <div style="margin-right: 15px; "></div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Top'" item-value="self.getTop" set-value="self.setConfigTop"
                    enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
        </div>
       
        
        <div style="margin-bottom: 15px; "></div>
        <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                            item-label="'Major Y'" item-value="self.getMajorY"
                            set-value="self.setConfigMajorY" enabled="true" label-style="{}"
                            content-style="{flex:1,float:'none','text-align':'right'}">
                        </editable>
                    </div>
                    <div style="margin-right: 15px; "></div>
                    <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;flex: 1;">
                        <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                            item-label="'Minor Y'" item-value="self.getMinorY"
                            set-value="self.setConfigMinorY" enabled="true" label-style="{}"
                            content-style="{flex:1,float:'none','text-align':'right'}">
                        </editable>
                    </div>
                    
        </div>
        
    </div>
    <div ng-show="self.getSelectionValue('Z1').isUsed">
        <div class="label-option-sidebar" style="padding: 0 15px;">
            <div style="display: flex;margin: 15px 0;">Color Z1
                    <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                    </div>
            </div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Color Z1 Label'" item-value="self.getConfigZ1Label"
                    set-value="self.setConfigZ1Label" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="flex: 1;">
                <span>Unit</span>
                <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.z1UnitList'
                    current-select="self.config.z1Unit || self.defaultConfig.z1Unit" on-item-changed="self.onZ2UnitChange">
                </wi-dropdown-list>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Min'" item-value="self.getZ1Min" set-value="self.setZ1Min"
                        enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
                <div style="margin-right: 15px; "></div>
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Max'" item-value="self.getZ1Max"
                        set-value="self.setZ1Max" enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'N'" item-value="self.getZ1N"
                    set-value="self.setZ1N" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}"
                    edit-type="'number'" min-value="1" max-value="10">
                </editable>
            </div>
        </div>
        <div class="label-option-sidebar"
             style="padding: 15px 15px 5px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
            <div>
                <div class="selection-sidebar" >
                    <span>Color Palette</span>
                    <wi-dropdown-list style="flex:1; margin-left: 10px;"
                          current-select="self.config.currentPalName"
                          on-item-changed="self.onChangePal"
                          on-wi-dropdown-init="self.onPalsDropdownInit">
                    </wi-dropdown-list>
                </div>
            </div>
        </div>
        <!-- <div style="padding: 15px 20px; display: flex; justify-content: space-between;  flex-direction: column;">
            <span ng-class="{}" style="margin-right: 8px;"
                ng-click="self.modifyColorZ1()" class="button-with-label">Modify Color</span>
        </div> -->
    </div>
    <div ng-show="self.getSelectionValue('Z2').isUsed">
        <div class="label-option-sidebar" style="padding: 0 15px;">
            <div style="display: flex;margin: 15px 0;">Point Size Z2
                <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                </div>
            </div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Point Size Z2 Label'" item-value="self.getConfigZ2Label"
                    set-value="self.setConfigZ2Label" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="flex: 1;">
                <span>Unit</span>
                <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.z2UnitList'
                    current-select="self.config.z2Unit || self.defaultConfig.z2Unit" on-item-changed="self.onZ2UnitChange">
                </wi-dropdown-list>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Min'" item-value="self.getZ2Min" set-value="self.setZ2Min"
                        enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
                <div style="margin-right: 15px; "></div>
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Max'" item-value="self.getZ2Max"
                        set-value="self.setZ2Max" enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'N'" item-value="self.getZ2N"
                    set-value="self.setZ2N" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}"
                    edit-type="'number'" min-value="1" max-value="10">
                </editable>
            </div>
        </div>
    </div>
    <div ng-show="self.getSelectionValue('Z3').isUsed">
        <div class="label-option-sidebar" style="padding: 0 15px;">
            <div style="display: flex;margin: 15px 0;">Label Z3
                <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
                </div>
            </div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Label Z3 Label'" item-value="self.getConfigZ3Label"
                    set-value="self.setConfigZ3Label" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="flex: 1;">
                <span>Unit</span>
                <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.z3UnitList'
                                  current-select="self.config.z3Unit || self.defaultConfig.z3Unit" on-item-changed="self.onZ3UnitChange">
                </wi-dropdown-list>
            </div>
            <div style="margin-bottom: 15px; "></div>
            <div style="display: flex;">
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Min'" item-value="self.getZ3Min" set-value="self.setZ3Min"
                        enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
                <div style="margin-right: 15px; "></div>
                <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                        item-label="'Max'" item-value="self.getZ3Max"
                        set-value="self.setZ3Max" enabled="true" label-style="{}"
                        content-style="{flex:1,float:'none','text-align':'right'}">
                    </editable>
                </div>
            </div>
            
            <div style="margin-bottom: 15px; "></div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'N'" item-value="self.getZ3N"
                    set-value="self.setZ3N" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}"
                    edit-type="'number'" min-value="1" max-value="10">
                </editable>
            </div>
        </div>
    </div>
    <div class="label-option-sidebar"
        style="padding: 10px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Point Size
            <div
                style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div>
            <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="'Point Size'" item-value="self.getPointSize" set-value="self.setPointSize" enabled="true" label-style="{}"
                    content-style="{flex:1,float:'none','text-align':'right'}">
                </editable>
            </div>
        </div>
    </div>
    <div class="label-option-sidebar"
        style="padding: 10px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Log scales
            <div
                style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div>
            <span ng-class="{'active' : self.getLogaX()}" style="margin-right: 8px;"
                ng-click="self.config.logaX=!self.config.logaX" class="button-with-label">Loga
                X</span>
            <span ng-class="{'active' : self.getLogaY()}" style="margin-right: 8px;"
                ng-click="self.config.logaY=!self.config.logaY" class="button-with-label">Loga
                Y</span>
        </div>
    </div>
    <div class="label-option-sidebar"
        style="padding: 10px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Color Mode
            <div
                style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div>
            <span ng-class="{'active' : self.config.colorMode === 'zone'}"
                ng-click="self.config.colorMode='zone'" class="button-with-label"
                style="margin-right: 8px;"> Zone Color</span>
            <span ng-class="{'active' : self.config.colorMode === 'well'}"
                style="margin-right: 8px;" ng-click="self.config.colorMode='well'"
                class="button-with-label">Well Color</span>
            <span ng-class="{'active' : self.config.colorMode === 'index'}"
                style="margin-right: 8px;" ng-click="self.config.colorMode='index'"
                class="button-with-label">Index Color</span>
            <!-- <span ng-class="{'active' : self.config.colorMode === 'user'}"
                ng-click="self.config.colorMode='user'" class="button-with-label">User
                Defined</span> -->
        </div>
    </div>
    <div class="label-option-sidebar"
        style="padding: 10px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Reverse Axis
            <div
                style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div>
            <span ng-click="self.reverseAxis()" class="button-with-label"
                style="margin-right: 8px;">Reverse Axis</span>
        </div>
    </div>
    <div class="label-option-sidebar"
        style="padding: 10px 15px; display: flex; justify-content: space-between;  flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Table Information
            <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div style="display: flex; flex-wrap: wrap;">
            <span ng-repeat="(headerIdx, header) in self.statisticHeaders"
                class="select-table-header" ng-class="{'active' : self.statisticHeaderMasks[headerIdx]}"
                ng-click="self.statisticHeaderMasks[headerIdx]= !self.statisticHeaderMasks[headerIdx]">
                {{header}}</span>
        </div>
    </div>
</div>

