<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Layer Setting</div>
</div>
<div style="display: flex; padding: 16px 16px 10px 16px;">
    <span ng-click="self.hideSelectedLayer()" class="button-with-label-layer"
        style="margin-left: 0px;">Deactivate</span>
    <span ng-click="self.showSelectedLayer()" class="button-with-label-layer"
        style="margin-left: 15px;">Activate</span>
    <span ng-click="self.hideAllLayer()" class="button-with-label-layer"
        style="margin-left: 15px;">Deactivate All</span>
    <span ng-click="self.showAllLayer()" class="button-with-label-layer"
        style="margin-left: 15px;">Activate All</span>
</div>
<div ng-show="self.layers"
    style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; " class="disable-node-caret">
    <wi-tree-view-virtual tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
        filter="self.layerFilter" get-icon="self.getLayerIcon"
        get-icons="self.getLayerIcons" icon-style="self.getLayerIconStyle" get-children="self.noChildren" keep-children='true'
        run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
        click-fn='self.click2ToggleLayer'>
    </wi-tree-view-virtual>
</div>
