<div class="label-list-view ng-scope"
    style="display :flex; background: #f4f4f4; padding: 9px 15px; justify-content: flex-start;">

    <span class="fn-button" ng-click="self.refresh()">RELOAD</span>
    <span class="fn-button" ng-click="self.saveToAsset()">SAVE</span>
    <span class="fn-button" ng-click="self.saveAs()">SAVE AS</span>
    <span class="fn-button" ng-click="self.print()">PRINT</span>
    <span class="fn-button" ng-class="{'active' : self.showTooltip}" ng-click="self.showTooltip = !self.showTooltip">TOOLTIP</span>
    <span class="fn-button" ng-click="self.exportStatistic()">Export Statistic</span>
    <span ng-if="self.copyEmbeddedLink" class="fn-button" ng-click="self.copyEmbeddedLink(self)" title="Copy embedded link">
        <span class="fa fa-link"></span>
    </span>
</div>
<div style="flex: 1; display: flex; flex-direction: column;">
    <div class="main-body-center border-style printable" style="position: relative;" id='layer-collection'>
        <layer-collection v-padding="vPadding" h-padding='hPadding'>
            <axis-layer min-val='self.getLeft()' max-val='self.getRight()' n-ticks="self.getMajorX() * self.getMinorX()"
                minor-ticks="self.getMinorX()" loga="self.getLogaX()" precision="4" grid="!!self.config.grid"
                placement="1" get-min-val='self.getLeft' get-max-val='self.getRight'></axis-layer>
            <axis-layer min-val='self.getBottom()' max-val='self.getTop()' n-ticks="self.getMajorY() * self.getMinorY()"
                minor-ticks="self.getMinorY()" loga="self.getLogaY()" precision="4" grid="!!self.config.grid"
                axis-direction="'up'" placement="0" get-min-val='self.getBottom' get-max-val='self.getTop'></axis-layer>
            <scatter-layer ng-show="!layer._notUsed" min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()" loga="self.getLogaX()" ortho-loga="self.getLogaY()"
                my-data-x="layer.dataX" my-data-y="layer.dataY"
                symbol="self.getSelectionValue('Z3').isUsed ? 'textSymbol' : 'circle'" symbol-size="5"
                symbol-fill-style="layer.color" symbol-stroke-style="'transparent'" color-func="layer.color"
                point-size-func="layer.size" symbol-func="layer.textSymbol" ng-repeat="layer in self.layers">
            </scatter-layer>
			<heat-map
				min-val="self.getLeft()" max-val="self.getRight()"
				min-y="self.getBottom()" max-y="self.getTop()"
				loga="self.getLogaX()" ortho-loga="self.getLogaY()" update-trigger="self.propMapUpdateTrigger"
				n-row="self.getRowsNumPropMap()" n-col="self.getColsNumPropMap()" cell-value-fn="self.cellValuePropMap" cell-color-fn="self.cellColorPropMap">
			</heat-map>
            <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()" max-y="self.getTop()"
                max-draw-y="self.getTop()" ortho-loga="self.getLogaY()" loga="self.getLogaX()" formula="self.regLine"
                eqn-offsets="['50px', '0%']" line-color="self.regLine.lineStyle.lineColor"
                line-dash="self.regLine.lineStyle.lineStyle.join(' ')" line-width="self.regLine.lineStyle.lineWidth" show-equation='true'
                mse="self.mse" ng-if='self.regLine && self.regLine.family' resolution='500'>
            </line-formula-layer>
            <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" min-draw-y="self.getBottom()" max-y="self.getTop()"
                max-draw-y="self.getTop()" ortho-loga="self.getLogaY()" loga="self.getLogaX()" formula="udl"
                eqn-offsets="['65px', self.eqnOffsetY(udlIdx)]" line-color="udl.lineStyle.lineColor"
                line-dash="udl.lineStyle.lineStyle.join(' ')" line-width="udl.lineStyle.lineWidth"
                ng-repeat="(udlIdx, udl) in self.udls " show-equation='udl.displayEquation' ng-show='!udl._notUsed'
                resolution='500' ng-if="self.validPlotRegion()">
            </line-formula-layer>
            <line-formula-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" max-y="self.getTop()" min-draw-y="self.getBottom()"
                max-draw-y="self.getTop()" ortho-loga="self.getLogaY()" loga="self.getLogaX()" formula="pickett"
                show-equation='false' ng-repeat="(pickettIdx, pickett) in self.allPickettLines "
                ng-if='self.validPlotRegion() && self.conditionForPickettPlot() && self.allPickettLines && !self.notShowPickett' resolution='5000'
                line-label='pickett.label' line-label-style="pickett.style" ng-show='pickett._used'
                line-color="self.pickettLineColor(pickett)">
            </line-formula-layer>
            <segment-layer min-val='self.getLeft()' max-val="self.getRight()" min-draw='self.getLeft()'
                max-draw="self.getRight()" min-y="self.getBottom()" max-y="self.getTop()" min-draw-y="self.getBottom()"
                max-draw-y="self.getTop()" ortho-loga="self.getLogaY()" loga="self.getLogaX()"
                ng-if='self.validPlotRegion() && self.conditionForPickettPlot() && self.allPickettLines && !self.notShowPickett'
                ng-repeat="(pickettSetIdx, pickettSet) in self.pickettSets "
                show-equation='false'
                points="self.pickettAdjusterArray[pickettSetIdx]"
                ng-show='pickettSet._used' mode="pickettSet._used ? 'edit' : ''"
                on-eqn-changed="self.getUpdatePickettParamsFn(pickettSetIdx)"
                get-point-label="self.noLabel">
            </segment-layer>
            <polygon-layer ng-show="!polygon._notShow" min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()" ng-repeat="polygon in self.polygons "
                points="polygon.points" mode="polygon.mode" ortho-loga="self.getLogaY()" loga="self.getLogaX()"
                fill-style="self.polygonFillStyle(polygon)" stroke-style="self.polygonStrokeStyle(polygon)"
                show-coordinates="self.showTooltip" stroke-width="self.polygonStrokeWidth(polygon)">
            </polygon-layer>
            <overlay-line-layer ng-if="self.overlayLineSpec && self.overlayLineSpec.lines" min-val='self.getLeft()' max-val="self.getRight()"
                min-draw='self.getLeft()' max-draw="self.getRight()" min-y="self.getBottom()"
                min-draw-y="self.getBottom()" max-y="self.getTop()" max-draw-y="self.getTop()"
                ortho-loga="self.getLogaY()" loga="self.getLogaX()" overlay-line-spec="self.overlayLineSpec">
            </overlay-line-layer>
            <polygon-layer ng-if="self.paramGroups && self.paramGroups.length" ng-show="!paramGroup._notShow"
                ng-repeat="paramGroup in self.paramGroups "
                min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()"
                points="self.paramGroupPointsFn(paramGroup, $index)" get-x-fn="self.getParamGroupX" get-y-fn="self.getParamGroupY"
                set-x-fn="self.setParamGroupX" set-y-fn="self.setParamGroupY"
                get-point-label="self.getParamGroupPointLabel"
                params="[$index]"
                mode="!paramGroup._notShow"
                show-vertex="true" fill-style="'transparent'">
            </polygon-layer>
            <tooltip-layer ng-if="self.showTooltip" min-val="self.getLeft()" max-val="self.getRight()"
                min-y="self.getBottom()" max-y="self.getTop()" loga="self.getLogaX()" ortho-loga="self.getLogaY()"
                frequency-x-fn="self.getFrequencyX" frequency-y-fn="self.getFrequencyY" test-binding="self.getFrequencyX">
            </tooltip-layer>
        </layer-collection>
        <p style="position: absolute; font-weight: bold; left: 50%; transform: translateX(-50%); bottom: 0">
            {{self.getConfigXLabel()}} ({{ self.config.xUnit || self.defaultConfig.xUnit }})</p>
        <p style="position: absolute; top: 23px; right: 45%;text-transform: uppercase; font-weight: bold; transform: translateY(-50%);">
            {{self.getConfigTitle()}}</p>
        <p style="position: absolute;left: 18px; top: 50%;font-weight: bold;transform: translate(-50%, -50%) rotate(-90deg);">
            {{self.getConfigYLabel()}} ({{ self.config.yUnit || self.defaultConfig.yUnit }})</p>
    </div>

    <div class="axis-info" ng-if="(self.getSelectionValue('Z1').isUsed && self.zColors) || (self.getSelectionValue('Z2').isUsed && self.zSizes) || (self.getSelectionValue('Z3').isUsed && self.zSymbols)">
        <div class="axis-Z" ng-if="self.getSelectionValue('Z1').isUsed && self.zColors">
            <div class="axis axis-type label">
                <span class="ellipsis-text">
                        {{ self.getConfigZ1Label() }}
                </span>
            </div>
            <div style="display: flex; flex: 1;">
                <div class="axis axis-min label">
                    <span class="ellipsis-text">
                            {{ self.getZ1Min() }}
                    </span>
                </div>
                <div style="display: flex; flex: 1;position: relative;">
                    <div style="display: flex; flex: 1; z-index: 1; ">
                        <div class="axis axis-line" ng-repeat="segColor in self.zColors "
                            ng-style="{'background-color':segColor}">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="axis axis-max label" style="margin-right: 0;">
                    <span class="ellipsis-text">
                            {{ self.getZ1Max() }}
                    </span>
                </div>
            </div>

        </div>
        <div class="axis-Z" ng-if="self.getSelectionValue('Z2').isUsed && self.zSizes">
            <div class="axis axis-type label">
                <span class="ellipsis-text">
                        {{ self.getConfigZ2Label() }}
                </span>
            </div>
            <div style="display: flex; flex: 1;">
                <div class="axis axis-min label">
                    <span class="ellipsis-text">
                            {{ self.getZ2Min() }}
                    </span>
                </div>
                <div style="display: flex; flex: 1;position: relative;">
                    <div style="display: flex; flex: 1; z-index: 1; ">
                        <div class="axis axis-line" ng-repeat="segSize in self.zSizes ">
                            <span>{{segSize}}</span>
                        </div>
                    </div>
                </div>
                <div class="axis axis-max label" style="margin-right: 0;">
                    <span class="ellipsis-text">
                            {{ self.getZ2Max() }}
                    </span>
                </div>
            </div>

        </div>
        <div class="axis-Z" style="margin-bottom: 0;" ng-if="self.getSelectionValue('Z3').isUsed && self.zSymbols">
            <div class="axis axis-type label">
                <span class="ellipsis-text">
                        {{ self.getConfigZ3Label() }}
                </span>
            </div>
            <div style="display: flex; flex: 1;">
                <div class="axis axis-min label">
                    <span class="ellipsis-text">
                            {{ self.getZ3Min() }}
                    </span>
                </div>
                <div style="display: flex; flex: 1;position: relative;">
                    <div style="display: flex; flex: 1; z-index: 1; ">
                        <div class="axis axis-line" ng-repeat="segSymbol in self.zSymbols ">
                            <span>{{segSymbol}}</span>
                        </div>
                    </div>
                </div>
                <div class="axis axis-max label" style="margin-right: 0;">
                    <span class="ellipsis-text">
                            {{ self.getZ3Max() }}
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="statistic-table" resizable r-directions="['top']" r-flex="true">
        <div style="overflow-x: auto; position: absolute; top: 0; right: 0; left: 0; bottom: 0;">
            <wi-table-view ng-if="self.layers.length" row-count="self.getZoneNames().length"
                col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                get-row-icons="self.getStatsRowIcons" get-row-icon-style="self.getStatsIconStyle"
                row-headers="self.getZoneNames()" accessor="self.statsValue" valid-row="self.isLayerUsed"
                item-list="self.layers">
            </wi-table-view>
        </div>
    </div>
</div>
