<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Overlay Line</div>
</div>
<div style="margin: 15px;overflow: hidden;border: 1px solid #ddd;border-radius: 2px; flex: 1;" class="disable-node-caret">
    <wi-tree-view-virtual tree-root="self.listOverlayLine" 
        get-label="self.getOvlLabel" get-icon="self.getOvlIcon"
        get-children="self.getOvlChildren" keep-children='true' uncollapsible='true'
        run-match="self.runOvlMatch" hide-unmatched="true" hide-search='false'
        click-fn='self.clickOvlFunction'
        vlist-height="500">
    </wi-tree-view-virtual>
</div>
