<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Parameters</div>
</div>
<div style="display: flex; padding: 15px 15px 10px 15px;">
    <span ng-click="self.hideSelectedParamGroup()" class="button-with-label-layer"
        style="margin-left: 0;">Hide</span>
    <span ng-click="self.showSelectedParamGroup()" class="button-with-label-layer"
        style="margin-left: 10px;">Show</span>
    <span ng-click="self.hideAllParamGroup()" class="button-with-label-layer"
        style="margin-left: 10px;">Hide All</span>
    <span ng-click="self.showAllParamGroup()" class="button-with-label-layer"
        style="margin-left: 10px;">Show All</span>
</div>
<div ng-show="self.paramGroups"
    style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; " class="disable-node-caret">
    <wi-tree-view-virtual tree-root="self.paramGroups" get-label="self.getParamGroupLabel"
        filter="self.paramGroupFilter" get-icon="self.getParamGroupIcon" get-children="self.noChildren"
        run-match="self.runParamGroupMatch" hide-unmatched="true"
        hide-search='false' click-fn='self.click2ToggleParamGroup'>
    </wi-tree-view-virtual>
</div>
