<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>
        Picket Plot
    </div>
</div>
<div style="padding-bottom:0;" class="label-option-sidebar">
    <div>
        <div class="switch-label">
           Show Pickett
            <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round" ng-click="self.notShowPickett = !self.notShowPickett"></span>
            </label>
        </div>
        <div
            style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-bottom: 6px; margin-top: 18px;">
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: column; height: 100%;">
        <div style="flex: 1; overflow: auto;">
            <div style="margin: 15px;margin-bottom:0;" class='bottom-add' ng-click="self.addPickettSet()">Add</div>
            <div style="overflow: overlay; display:flex; flex-direction: column;">
                <div style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px; cursor: pointer;"
                    ng-repeat='(pickettSetIdx, pickettSet) in self.pickettSets'>
                    <div style="display: flex; flex-direction: row;padding: 10px;background: #f4f4f4; align-items: center;justify-content: space-between;text-align: center;">
                        <div style=" display: flex;align-items: center;">
                            <i class="header-icon"
                                ng-class="{'fa fa-caret-down': pickettSet._notHidden, 'fa fa-caret-right': !pickettSet._notHidden}"
                                ng-click="self.toggleShowPickettSet(pickettSetIdx)"></i>
                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;margin-top:5px;"
                                item-label="'Name: '" item-value="self.pickettSetName" set-value="self.changePickettSetName" enabled="true" label-style="{}"
                                content-style="{flex:1,float:'none','text-align':'left'}" params="pickettSetIdx">
                            </editable>
                        </div>
                        <div>
                            <span
                                ng-class="{'red-color fa fa-eye-slash': !pickettSet._used, 'blue-color fa fa-eye': pickettSet._used }"
                                ng-click="self.turnOnPickettSet(pickettSetIdx)"
                                style="cursor: pointer; margin-right: 15px;">
                            </span>
                            <span class="fa fa-times-circle" ng-click="self.removePickettSet(pickettSetIdx)"
                                style="color: rgb(163, 163, 163);cursor: pointer;margin-right: 5px;">
                            </span>
                        </div>
                    </div>
                    <div class="label-option-sidebar" ng-show="pickettSet._notHidden">
                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                item-label="'Rw'" item-value="self.getRwParam" set-value="self.setRwParam" enabled="true" label-style="{}"
                                content-style="{flex:1,float:'none','text-align':'right'}" params="pickettSetIdx">
                            </editable>
                        </div>
                        <div style="margin-bottom: 15px; "></div>
                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                item-label="'m'" item-value="self.getMParam"
                                set-value="self.setMParam" enabled="true" label-style="{}"
                                content-style="{flex:1,float:'none','text-align':'right'}" params="pickettSetIdx">
                            </editable>
                        </div>
                        <div style="margin-bottom: 15px; "></div>
                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                item-label="'n'" item-value="self.getNParam"
                                set-value="self.setNParam" enabled="true" label-style="{}"
                                content-style="{flex:1,float:'none','text-align':'right'}" params="pickettSetIdx">
                            </editable>
                        </div>
                        <div style="margin-bottom: 15px; "></div>
                        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
                            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                item-label="'a'" item-value="self.getAParam"
                                set-value="self.setAParam" enabled="true" label-style="{}"
                                content-style="{flex:1,float:'none','text-align':'right'}" params="pickettSetIdx">
                            </editable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div resizable r-directions="['top']" r-flex="true" style="flex-basis: 40%;">
            <div style="margin: 15px;margin-bottom:0;" class='bottom-add' ng-click="self.addSwParam()">Add</div>
            <div style="overflow: overlay; display:flex; flex-direction: column;">
                <div style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px; cursor: pointer;">
                    <div style="display: flex; flex-direction: row;padding: 10px;background: #f4f4f4; align-items: center;justify-content: space-between;text-align: center;">
                        <div style=" display: flex;align-items: center;">
                            <i class="header-icon"
                                ng-class="{'fa fa-caret-down': self._showSwParams, 'fa fa-caret-right': !self._showSwParams}"
                                ng-click="self._showSwParams = !self._showSwParams"></i>
                            <div ng-bind="'Sw Param List'" style="font-weight: bold; max-width: 120px; white-space: nowrap;text-overflow: ellipsis; overflow: hidden;"></div>
                        </div>
                    </div>
                    <div class="label-option-sidebar" ng-show="self._showSwParams">
                        <div style="overflow: overlay;">
                            <div class="list-formular" ng-repeat="(pickettIdx, pickett) in self.swParamList">
                                <div class="selection-sidebar"
                                    style="padding: 9px 10px 5px 10px; flex: 4; margin-right: 15px; border: none;">
                                    <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                                        item-label="'Sw'" item-value="self.getSwParam" params="pickettIdx"
                                        set-value="self.setSwParam" enabled="true" label-style="{}"
                                        content-style="{flex:1,float:'none','text-align':'right'}">
                                    </editable>
                                </div>
                                <div class="fa fa-times delete-button" ng-click="self.removeSwParam(pickettIdx)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--<div class="label-option-sidebar">-->
    <!--<div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">-->
        <!--<editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"-->
            <!--item-label="'Rw'" item-value="self.getRwParam" set-value="self.setRwParam" enabled="true" label-style="{}"-->
            <!--content-style="{flex:1,float:'none','text-align':'right'}">-->
        <!--</editable>-->
    <!--</div>-->
    <!--<div style="margin-bottom: 15px; "></div>-->
    <!--<div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">-->
        <!--<editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"-->
            <!--item-label="'m'" item-value="self.getMParam"-->
            <!--set-value="self.setMParam" enabled="true" label-style="{}"-->
            <!--content-style="{flex:1,float:'none','text-align':'right'}">-->
        <!--</editable>-->
    <!--</div>-->
    <!--<div style="margin-bottom: 15px; "></div>-->
    <!--<div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">-->
        <!--<editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"-->
            <!--item-label="'n'" item-value="self.getNParam"-->
            <!--set-value="self.setNParam" enabled="true" label-style="{}"-->
            <!--content-style="{flex:1,float:'none','text-align':'right'}">-->
        <!--</editable>-->
    <!--</div>-->
    <!--<div style="margin-bottom: 15px; "></div>-->
    <!--<div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">-->
        <!--<editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"-->
            <!--item-label="'a'" item-value="self.getAParam"-->
            <!--set-value="self.setNParam" enabled="true" label-style="{}"-->
            <!--content-style="{flex:1,float:'none','text-align':'right'}">-->
        <!--</editable>-->
    <!--</div>-->
    <!--<div style="margin-bottom: 15px; "></div>-->
<!--</div>-->
