<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>
        Regression Line
    </div>
</div>
<div style="padding: 15px 15px 10px;" class="label-option-sidebar">
    <div class="selection-sidebar">
        <span>Type</span>
        <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.regressionTypeList'
            current-select="self.regressionType"
            on-item-changed="self.onRegressionTypeChange">
        </wi-dropdown-list>
    </div>
</div>
<div class="label-option-sidebar"
    style="padding: 0 15px 10px; display: flex; justify-content: space-between;  flex-direction: column;">
    <div ng-if="self.regressionType == 'Polynomial'">
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'Order'" item-value="self.getPolynomialOrder" set-value="self.setPolynomialOrder" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
    </div>
    <div style="display: flex;" ng-if="self.regressionType != 'Polynomial'">
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'FitX'" item-value="self.getFitX"
                set-value="self.setFitX" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
        <div style="margin-right: 15px; "></div>
        <div class="selection-sidebar" style="padding: 9px 10px 5px 10px; flex: 1;">
            <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                item-label="'FitY'" item-value="self.getFitY"
                set-value="self.setFitY" enabled="true" label-style="{}"
                content-style="{flex:1,float:'none','text-align':'right'}">
            </editable>
        </div>
    </div>
</div>
<div style="display: flex; padding: 0 15px 10px 15px;">
    <span ng-click="self.hideSelectedRegression()" class="button-with-label-layer"
        style="margin-left: 0;">Deactivate</span>
    <span ng-click="self.showSelectedRegression()" class="button-with-label-layer"
        style="margin-left: 10px;">Activate</span>
    <span ng-click="self.hideAllRegression()" class="button-with-label-layer"
        style="margin-left: 10px;">Deactivate All</span>
    <span ng-click="self.showAllRegression()" class="button-with-label-layer"
        style="margin-left: 10px;">Activate All</span>
</div>
<div ng-if="self.regLine && self.regLine.lineStyle" style="display: flex; padding: 0 15px 10px 15px;">
    <line-style style="width: 100%; padding: 0 15px;" bind-line-style="self.regLine.lineStyle"></line-style>
</div>
<div ng-show="self.layers"
    style="border: 1px solid #e4e4e4;margin:0 15px;border-radius: 2px;flex: 1;overflow: hidden; " class="disable-node-caret">
    <wi-tree-view-virtual tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
        filter="self.layerFilter" get-icon="self.getRegIcon"
        get-icons="self.getRegIcons" icon-style="self.getRegIconStyle" get-children="self.noChildren" keep-children='true'
        run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
        click-fn='self.click2ToggleRegression'>
    </wi-tree-view-virtual>
</div>
<div class="label-option-sidebar"
    style="padding: 15px; display: flex; flex-direction: column; overflow: auto; flex: 1;">
    <div style="display: flex;margin-bottom: 0;align-items: center;">Polygon
        <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin: 9px;"></div>
        <div class="ti ti-plus add-polygon" ng-click="self.addPolygon()"></div>
    </div>

    <div style="overflow: auto; padding-top: 15px;">
        <div class="list-polygon" ng-repeat="polygon in self.polygons">
            <div style="margin: 0 10px; border: none;">
                <editable style="flex:1;display:flex;flex-direction:row;overflow:hidden;"
                    item-label="" item-value="polygon.label" params="$index"
                    set-value="self.setPolygonLabel" enabled="true" label-style="{}"
                    content-style="self.polygonContentStyle(polygon)">
                </editable>
            </div>
            <div style="display: flex;">
                <div ng-class="{'red-color': !polygon.exclude, 'blue-color ': polygon.exclude }"
                    class="button-list-polygon ti ti-control-play"
                    title="Include"
                    ng-click="polygon.exclude = !polygon.exclude" >
                </div>
                <div ng-class="{'red-color': polygon._notUsed, 'blue-color ': !polygon._notUsed }"
                    ng-click="polygon._notUsed = !polygon._notUsed"
                    title="Use"
                    class="button-list-polygon ti ti-check">
                </div>
                <div ng-class="{'red-color ': polygon._notShow, 'blue-color ': !polygon._notShow }"
                    class="button-list-polygon ti ti-eye"
                    title="Show/hide"
                    ng-click="polygon._notShow = !polygon._notShow">
                </div>
                <div ng-class="{'red-color': !polygon.mode, 'blue-color': polygon.mode == 'edit' }"
                    class="button-list-polygon ti ti-pencil"
                    title="Edit"
                    ng-click="self.toggleEditPolygon(polygon)">
                </div>
                <div
                    class="button-list-polygon ti ti-close"
                    title="Close"
                    ng-click="self.removePolygon($index)">
                </div>
            </div>
            <!-- <div style="cursor: pointer; flex: 1; border: none;">
                <span ng-class="{'active' : true}" style="margin-right: 8px;"
                    ng-click="polygon.exclude = !polygon.exclude" class="button-with-label">
                    {{ polygon.exclude ? 'Exclude' : 'Include' }}
                </span>
                <span
                    ng-class="{'red-color fa fa-check': polygon._notUsed, 'blue-color fa fa-check': !polygon._notUsed }"
                    ng-click="polygon._notUsed = !polygon._notUsed"
                    style="cursor: pointer; margin-right: 15px;">
                </span>
                <span
                    ng-class="{'red-color fa fa-eye-slash': polygon._notShow, 'blue-color fa fa-eye': !polygon._notShow }"
                    ng-click="polygon._notShow = !polygon._notShow"
                    style="cursor: pointer; margin-right: 15px;">
                </span>
                <span
                    ng-class="{'red-color fa fa-edit': !polygon.mode, 'blue-color fa fa-edit': polygon.mode == 'edit' }"
                    ng-click="self.toggleEditPolygon(polygon)"
                    style="cursor: pointer; margin-right: 15px;">
                </span>
            </div>
            <div class="fa fa-times delete-button" ng-click="self.removePolygon($index)"></div> -->
        </div>
    </div>
</div>
