<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Wells</div>
</div>
<div class="label-option-sidebar"
    style=" margin-top: 5px;padding-bottom: 5px; display: flex; justify-content: space-between;">
    <span>Input</span>
    <div>
        <span ng-class="{'active' : self.selectionType === 'family-group'}"
            ng-click="self.selectionType='family-group'" class="button-with-label"
            style="margin-right: 8px;">Family Group</span>
        <span ng-class="{'active' : self.selectionType === 'family'}"
            ng-click="self.selectionType='family'" class="button-with-label"
            style="margin-right: 8px;">Family</span>
        <span ng-class="{'active' : self.selectionType === 'curve'}"
            ng-click="self.selectionType='curve'" class="button-with-label">Curve</span>
    </div>
</div>
<div class="label-option-sidebar"
    style="display: flex; justify-content: space-between; padding-top: 20px;">
    <span>Scale Axis</span>
    <div>
        <span ng-class="{'active' : self.getSelectionValue('Z1').isUsed}" style="margin-right: 8px;"
            ng-click="self.getSelectionValue('Z1').isUsed = !self.getSelectionValue('Z1').isUsed" class="button-with-label">
            Color Z1
        </span>
        <span ng-class="{'active' : self.getSelectionValue('Z2').isUsed}" style="margin-right: 8px;"
            ng-click="self.getSelectionValue('Z2').isUsed = !self.getSelectionValue('Z2').isUsed" class="button-with-label">
            Point Size Z2
        </span>
        <span ng-class="{'active' : self.getSelectionValue('Z3').isUsed}" style="margin-right: 8px;"
            ng-click="self.getSelectionValue('Z3').isUsed = !self.getSelectionValue('Z3').isUsed" class="button-with-label">
            Label Z3 
        </span>
    </div>
</div>
<div style="padding: 8px 15px;" class="label-option-sidebar"
    ng-repeat="selectionValue in self.selectionValueList"
    ng-show="selectionValue.isUsed">
    <div class="selection-sidebar">
        <span>{{selectionValue.label}}</span>
        <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.selectionList'
            current-select="selectionValue.value"
            on-item-changed="selectionValue.onChange">
        </wi-dropdown-list>
    </div>
</div>
<div style="overflow: overlay; display:flex; flex-direction: column;">
    <div style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px; cursor: pointer;"
        ng-repeat='well in self.treeConfig track by $index'>
        <div style="display: flex; flex-direction: row;padding: 10px;background: #f4f4f4; align-items: center;justify-content: space-between;text-align: center;">
                <div style=" display: flex;align-items: center;">
                    <i class="header-icon"
                        ng-class="{'fa fa-caret-down': well._notHidden, 'fa fa-caret-right': !well._notHidden}"
                        ng-click="well._notHidden = !well._notHidden"></i>
                    <div ng-bind="well.name" style="font-weight: bold; max-width: 120px; white-space: nowrap;text-overflow: ellipsis; overflow: hidden;"></div>
                </div>
               
                <div>
                    <span
                        ng-class="{'red-color fa fa-eye-slash': well._notUsed, 'blue-color fa fa-eye': !well._notUsed }"
                        ng-click="self.toggleWell(well)"
                        style="cursor: pointer; margin-right: 15px;">
                    </span>
                    <span class="fa fa-filter"
                        ng-class="{'blue-color': self.hasDiscriminator(well)}"
                        ng-click="self.discriminatorDialog(well)"
                        style="cursor: pointer; margin-right: 17px;">
                    </span>
                    <span class="fa fa-times-circle" ng-click="self.removeWell(well)"
                        style="color: rgb(163, 163, 163);cursor: pointer;margin-right: 5px;">
                    </span>
                </div>
        </div>
        <div style="display: flex; flex-direction: row ; flex-wrap: wrap; max-width: 420px; background: #f4f4f4; align-items: center;justify-content: flex-start;text-align: center;">
            <div class="axis-bar" ng-class='{"selected": well.isSettingAxis == selectionValue.name}'
                ng-click="well.isSettingAxis = selectionValue.name"
                ng-repeat="selectionValue in self.selectionValueList" ng-show="selectionValue.isUsed">
                <div ng-bind="selectionValue.name" style="font-weight: bold;"></div>
                <div style="margin: 0 10px; max-width: 70px; flex: 1;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"
                    ng-bind="self.getWellSpec(well)[self.getAxisKey(selectionValue.name)].datasetName"></div>
                <div ng-bind="self.getCurve(well, self.getAxisKey(selectionValue.name)).name"></div>
            </div>
        </div>
        <wi-tree-view-virtual ng-show="well._notHidden" tree-root="well" get-label="self.getLabel"
            filter="self.getFilterForWell(self.getAxisKey(well.isSettingAxis))" get-icon="self.getIcon"
            get-children="self.getChildren" keep-children='true' uncollapsible='true'
            run-match="self.runWellMatch" hide-unmatched="true" hide-search='true'
            click-fn='self.clickFunction' collapsed="false">
        </wi-tree-view-virtual>
    </div>
</div>
