<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Zone</div>
</div>
<div class="label-option-sidebar">
    <div class="selection-sidebar">
        <span>Zoneset</span>
        <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.zonesetList'
            current-select="self.zonesetName"
            on-item-changed="self.onZonesetSelectionChanged">
        </wi-dropdown-list>
    </div>
</div>
<div style="display: flex; padding: 0 15px 10px 15px;">
    <span ng-click="self.hideSelectedZone()" class="button-with-label-layer"
        style="margin-left: 0;">Deactivate</span>
    <span ng-click="self.showSelectedZone()" class="button-with-label-layer"
        style="margin-left: 10px;">Activate</span>
    <span ng-click="self.hideAllZone()" class="button-with-label-layer"
        style="margin-left: 10px;">Deactivate All</span>
    <span ng-click="self.showAllZone()" class="button-with-label-layer"
        style="margin-left: 10px;">Activate All</span>
</div>
<div ng-show="self.zoneTreeUniq"
    style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto;">
    <div style="border-bottom: 1px solid #eee">
        <i class="fa fa-search" style="position: relative; left: 0.5em; color: #aaa;"></i>
        <input type="text" ng-model="filter" placeholder="Search" style="border: none; width: calc(100% - 1.5em); padding: 8px;">
    </div>
    <div style="height: calc(100% - 34px);">
        <vue-component
            root="WiTree"
            props="{
                treeRoot: self.zoneTreeUniq,
                getLabel: self.getZoneLabel,
                getIcon: self.getZoneIcon,
                clickFn: self.click2ToggleZone,
                filter: filter,
            }"
            style="flex: 1"
        ></vue-component>
    </div>
</div>
<div ng-hide="self.zoneTreeUniq" style="border: 1px solid #e4e4e4; margin: 5px 15px;">
    zonationAll
</div>
