<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Assistive Lines</div>
</div>
<div style="flex:1;overflow: auto;">
    <div class="label-option-sidebar"
        style="height: 100%; padding: 16px; display: flex;justify-content: space-between;flex-direction: column;">
        <div style="display: flex;margin-bottom: 16px;">Gaussian / Log-normal Distribution
            <div style="border-bottom: 1px solid #e4e4e4;flex: 1;margin-left: 15px;margin-bottom: 6px;">
            </div>
        </div>
        <div style="margin-bottom: 5px;">
            <span ng-class="{'active' : !self.config.notUsedGaussian}"
                ng-click="self.toggleGaussianLine(false)" class="button-with-label"
                style="margin-right: 8px;">Gaussian</span>
            <span ng-class="{'active' : self.config.notUsedGaussian}"
                ng-click="self.toggleGaussianLine(true)" class="button-with-label">Log-normal Distribution</span>
            <span ng-class="{'active' : !self.config.notShowCumulative}"
                ng-click="self.config.notShowCumulative = !self.config.notShowCumulative" class="button-with-label">Cumulative</span>
        </div>
        <div style="display: flex; padding: 16px 0;">
            <span ng-click="self.hideSelectedGaussian()" class="button-with-label-layer"
                style="margin-left: 0;">Deactive</span>
            <span ng-click="self.showSelectedGaussian()" class="button-with-label-layer"
                style="margin-left: 15px;">Activate</span>
            <span ng-click="self.hideAllGaussian()" class="button-with-label-layer"
                style="margin-left: 15px;">Deactivate All</span>
            <span ng-click="self.showAllGaussian()" class="button-with-label-layer"
                style="margin-left: 15px;">Activate All</span>
        </div>
        <div ng-show="self.histogramList"
            style="border: 1px solid #eee; margin-bottom: 15px;flex:1;overflow: hidden;" class="disable-node-caret">
            <wi-tree-view-virtual tree-root="self.getLayerTree()" get-label="self.getLayerLabel"
                filter="self.layerFilter" get-icon="self.getGaussianIcon" get-icons="self.getGaussianIcons"
                get-children="self.noChildren" icon-style="self.getGaussianIconStyle" keep-children='true'
                run-match="self.runLayerMatch" hide-unmatched="true" hide-search='false'
                click-fn='self.click2ToggleGaussian'>
            </wi-tree-view-virtual>
        </div>
    </div>
</div>
