<div class="label-list-view ng-scope"
    style="display :flex; background: #f4f4f4; padding: 9px 15px; justify-content: flex-start;">
    <!-- <span  class="reload-16x16" style="cursor: pointer; margin-right: 10px;"></span>
    <span  class="save-16x16" style="cursor: pointer; margin-right: 10px;"></span>
    <span  class="save-as-16x16" style="cursor: pointer; margin-right: 10px;"></span> -->
    <span class="fn-button" ng-click="self.refresh()">RELOAD</span>
    <span class="fn-button" ng-click="self.save()">SAVE</span>
    <span class="fn-button" ng-click="self.saveAs()">SAVE AS</span>
    <span class="fn-button" ng-click="self.print()">PRINT</span>
</div>
<div style="flex: 1; display: flex; flex-direction: column;">
    <div class="main-body-center border-style" style="position: relative;">
        <layer-collection v-padding="50" h-padding='60'>
            <axis-layer min-val="self.getLeft()" max-val="self.getRight()" loga="self.getLoga()"
                n-ticks="self.getMajor() * self.getMinor()" minor-ticks="self.getMinor()" precision="4"
                grid="!!self.config.grid" placement="1"
                get-min-val="self.getLeft" get-max-val="self.getRight">
            </axis-layer>
            <axis-layer min-val='self.minY || 0' max-val='self.maxY || 100' n-ticks="10" minor-ticks="1"
                precision="4" grid="!!self.config.grid" axis-direction="'up'" placement="0"></axis-layer>
            <axis-layer min-val="0" max-val="100" n-ticks="10" minor-ticks="1" precision="4"
                grid="false" axis-direction="'up'" placement="1"></axis-layer>
            <canvas-barchart-layer ng-show="!bins._notUsed"
                ng-if="self.getDisplayMode() == 'bar' && self.getStackMode() == 'none'"
                ng-repeat="bins in self.histogramList" min-val="self.getLeft()" max-val="self.getRight()"
                min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                bins="bins" bin-gap="self.getBinGap()" color-func="self.colorFn">
            </canvas-barchart-layer>
            <canvas-barchart-layer ng-show="!groupOfBins._notUsed" ng-if="self.getDisplayMode() == 'bar' && 
                self.getStackMode() == 'well'" ng-repeat="groupOfBins in self.histogramList"
                min-val="self.getLeft()" max-val="self.getRight()" min-y='self.minY || 0'
                max-y='self.maxY || 100' loga="self.getLoga()" autofit='false' bins="groupOfBins"
                bin-gap="self.getBinGap()" color-func="self.colorFn" multiple='true'>
            </canvas-barchart-layer>
            <canvas-barchart-layer ng-show="!groupOfBins._notUsed" ng-if="self.getDisplayMode() == 'bar' && 
                self.getStackMode() == 'zone'" ng-repeat="groupOfBins in self.histogramList"
                min-val="self.getLeft()" max-val="self.getRight()" min-y='self.minY || 0'
                max-y='self.maxY || 100' loga="self.getLoga()" autofit='false' bins="groupOfBins"
                bin-gap="self.getBinGap()" color-func="self.colorFn" multiple='true'>
            </canvas-barchart-layer>
            <canvas-barchart-layer ng-show="!bins._notUsed" ng-if="self.getDisplayMode() == 'bar' && 
                self.getStackMode() == 'all'" min-val="self.getLeft()" max-val="self.getRight()"
                min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                bins="bins" bin-gap="self.getBinGap()" color-func="self.colorFn" multiple='true'
                ng-repeat="bins in self.histogramList">
            </canvas-barchart-layer>
            <line-formula-layer ng-if="self.condition4GaussianLine()" min-val='self.getLeft()' max-val='self.getRight()'
                min-y='self.minY || 0' max-y='self.maxY || 100' autofit='true' resolution='5000' loga="self.getLoga()"
                formula="self.gaussianLine" line-color="self.gaussianLine.color" line-width="self.gaussianLine.width">
            </line-formula-layer>
            <control-marker-layer ng-if="self.condition4GaussianLine()" 
                loga="self.getLoga()"
                min-val="self.getLeft()" max-val="self.getRight()" min-y='self.minY || 0'
                max-y='self.maxY || 100' 
                markers="self.gaussianLine.sigmaLines" draggable="false" 
                not-use-background='true'
                axis-direction="'right'"
                get-marker-value="self.getMarkerGaussianVal"
                set-marker-value="self.setMarkerGaussianVal"
                get-marker-style-fn="self.markerGaussianStyle" 
                get-marker-name="self.markerName"
                marker-width="19">
            </control-marker-layer>
            <line-formula-layer ng-if="self.condition4LogNormalD()" min-val='self.getLeft()' max-val='self.getRight()'
                loga="self.getLoga()" min-y='self.minY || 0' max-y='self.maxY || 100' autofit='true' resolution='5000' 
                eqn-offsets="['65px', '0%']" formula="self.logNormalDLine" line-color="self.logNormalDLine.color" 
                line-width="self.logNormalDLine.width" show-equation='true'>
            </line-formula-layer>
            <line-point-layer ng-if="self.condition4CumulativeLine()" min-val="self.getLeft()"
                max-val="self.getRight()" min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()"
                min-draw="self.getLeft()" max-draw="self.getRight()" min-draw-y="self.minY || 0" max-draw-y="self.maxY || 100"
                autofit='false' get-x='self.getCumulativeX' get-y='self.getCumulativeY' line-data="self.cmltLineData"
                line-color="self.cmltLineData.color" line-width='self.cmltLineData.width' line-dash="'2 0'">
            </line-point-layer>
            <line-point-layer ng-if="self.getDisplayMode() === 'line' && !bins._notUsed"
                ng-repeat="bins in self.histogramList" min-val="self.getLeft()" max-val="self.getRight()"
                min-y='self.minY || 0' max-y='self.maxY || 100' loga="self.getLoga()" autofit='false'
                get-x='self.getBinX' get-y='self.getBinY' line-data="bins" line-color="bins.color"
                line-width='2' line-dash="'2 0'" color-func="self.colorFn">
            </line-point-layer>
            <control-marker-layer ng-if="self.ctrlParams && self.ctrlParams.length && self.validPlotRegion()" 
                min-val="self.getLeft()" max-val="self.getRight()" min-y='self.minY || 0'
                max-y='self.maxY || 100' 
                markers="self.ctrlParams" draggable="true" 
                markers-mask = "self.ctrlParamsMask"
                order-free='true' loga="self.getLoga()"
                not-use-background='self.notCPBackground'
                axis-direction="'right'"
                get-marker-value="self.cpGetMarkerVal"
                set-marker-value="self.cpSetMarkerVal"
                get-marker-style-fn="self.cpMarkerStyle" 
                get-marker-name="self.cpMarkerName"
                marker-width="19">
            </control-marker-layer>
        </layer-collection>
        <p style="position: absolute; font-weight: bold; left: 50%; transform: translateX(-50%); bottom: 0">
            {{self.getConfigXLabel()}} </p>
        <p
            style="position: absolute; top: 23px; right: 45%;text-transform: uppercase; font-weight: bold; transform: translateY(-50%);">
            {{self.getConfigTitle()}}</p>
        <p style="position: absolute; font-weight: bold;top: 23px;left: 15px; transform: translateY(-50%);">Frequency</p>
        <p style="position: absolute; font-weight: bold;top: 23px; right: 15px;transform: translateY(-50%);">Percentage (%)</p>
    </div>
    <div class="statistic-table" resizable r-directions="['top']" r-flex="true">
        <div style="overflow: auto; position: absolute;overflow: auto; position: absolute; top: 0; right: 0; left: 0; bottom: 0;" >
            <wi-table-view ng-if="self.histogramList.length" row-count="self.getZoneNames().length"
                col-count="self.getHeaders().length" col-headers="self.getHeaders()"
                get-row-icons="self.getStatsRowIcons" get-row-icon-style="self.getStatsIconStyle"
                row-headers="self.getZoneNames()" accessor="self.statsValue">
            </wi-table-view>
        </div>
    </div>
</div>
