<side-bar ng-if="self.getFamilyTable()" my-default-width="370" orientation="w" collapsed="false">
    <div style="display: flex; flex-direction: column; width: 100%; height: 100%;">
        <!--Wells-->
        <div ng-show="isSet(1)" style="overflow: auto;flex: 1;display:flex;flex-direction:column;">
            ${require('./wells.html')}
        </div>
        <!--Zone-->
        <div ng-show="isSet(2)" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
            ${require('./zone.html')}
        </div>
        <!--Control Params-->
        <div ng-show="isSet(7) && self.ctrlParams.length" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
            ${require('./control-params.html')}
        </div>
        <!--Assistive Lines-->
        <div ng-show="isSet(6)" style="overflow: hidden;flex: 1; display: flex; flex-direction: column;">
            ${require('./assistive-lines.html')}
        </div>
        <!--Configuration-->
        <div ng-show="isSet(3)" style="overflow: hidden;flex: 1;display: flex;flex-direction: column;">
            ${require('./config.html')}
        </div>
        <!--Statistic-->
        <div ng-show="isSet(4)" style="overflow: hidden;flex: 1;display: flex;flex-direction: column;">
            ${require('./statistic.html')}
        </div>
        <!--Layers-->
        <div ng-show="isSet(5)" style="overflow: auto; flex: 1; display: flex; flex-direction: column;">
            ${require('./layers.html')}
        </div>
        <div style="display: flex;">
            <span class="button-update" ng-class="{'disabled-click': !self.isSettingChange}" ng-click="self.genHistogramList()">
                Update
            </span>
        </div>
    </div>
    <div class="label-list-view" style="   
            display: flex;
            border-left: 1px solid #e4e4e4;
            flex-direction: column;
            justify-content: start;
            padding: 0px;
            right: 0;
            background: #fff;
            overflow-y: overlay;
            overflow-x: hidden;
            position: sticky;
            box-shadow: 0 10px 10px #00000017;">
        <div style="
            transform-origin: left;
            transform: translate(20px, -50%) rotate(90deg);
            display: flex;
            position: absolute;">
            <div ng-class="{'active' : isSet(1)}" ng-click="setTab(1)" class="tab-with-label">
                <div >
                    Wells
                </div>
            </div>
            <div ng-class="{'active' : isSet(3)}" ng-click="setTab(3)" class="tab-with-label">
                <div >
                    Configuration
                </div>
            </div>
            <div ng-show='self.ctrlParams.length' ng-class="{'active' : isSet(7)}" ng-click="setTab(7)" class="tab-with-label">
                <div>
                    Control Params
                </div>
            </div>
            <div ng-class="{'active' : isSet(2)}" ng-click="setTab(2)" class="tab-with-label">
                <div >
                    Zone
                </div>
            </div>
            <div ng-class="{'active' : isSet(6)}" ng-click="setTab(6)" class="tab-with-label">
                <div >
                    Assistive Lines
                </div>
            </div>
            <div ng-class="{'active' : isSet(4)}" ng-click="setTab(4)" class="tab-with-label">
                <div >
                    Statistic
                </div>
            </div>
            <div ng-class="{'active' : isSet(5)}" ng-click="setTab(5)" class="tab-with-label">
                <div >
                    Layers
                </div>
            </div>
        </div>
    </div>
</side-bar>
