<div class="label-option-sidebar" style="padding: 12px 20px;display: flex;background: #f4f4f4;border-bottom: 1px solid #dcdcdc;justify-content: space-between;flex-direction: column;">
    <div>Zone</div>
</div>
<div class="label-option-sidebar" style="padding: 16px 16px;">
    <div class="selection-sidebar">
        <span>Zoneset</span>
        <wi-dropdown-list style="flex:1; margin-left: 10px;" items='self.zonesetList' on-wi-dropdown-init="self.zonesetDropdownInit"
            current-select="self.zonesetName" on-item-changed="self.onZonesetSelectionChanged">
        </wi-dropdown-list>
    </div>
</div>
<div style="display: flex; padding: 0 16px 11px 16px;">
    <span ng-click="self.hideSelectedZone()" class="button-with-label-layer"
        style="margin-left: 0;">Deactive</span>
    <span ng-click="self.showSelectedZone()" class="button-with-label-layer"
        style="margin-left: 15px;">Activate</span>
    <span ng-click="self.hideAllZone()" class="button-with-label-layer"
        style="margin-left: 15px;">Deactivate All</span>
    <span ng-click="self.showAllZone()" class="button-with-label-layer"
        style="margin-left: 15px;">Activate All</span>
</div>
<div ng-show="self.zoneTree" class="disable-node-caret"
    style="border: 1px solid #e4e4e4;margin: 5px 15px;border-radius: 2px;flex: 1;overflow: auto; display: flex;">
    <wi-tree-view-virtual style="flex: 1;" tree-root="self.zoneTreeUniq" get-label="self.getZoneLabel"
        filter="self.zoneFilter" get-icon="self.getZoneIcon" get-children="self.noChildren"
        keep-children='true' run-match="self.runZoneMatch" hide-unmatched="true"
        hide-search='false' click-fn='self.click2ToggleZone'>
    </wi-tree-view-virtual>
</div>
<div ng-hide="self.zoneTree" style="border: 1px solid #e4e4e4; margin: 5px 15px;">
    zonationAll
</div>
